 City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
- i) Print the second item from the list.
- ii) Change the value from "Gurgaon" to "Kerala"
- iii) Remove the last element of the list.

In [12]:
city = ['Gurgaon','Mumbai','Bangalore']
# print second item in list
print(city[1])

Mumbai

In [13]:
city[0] = 'Kerala'
print(city)

['Kerala', 'Mumbai', 'Bangalore']

In [14]:
city.pop()
print(city)

['Kerala', 'Mumbai']

2. Use negative indexing to print the last item in the list. Make
a list by yourself.

In [6]:
lst = ['Data','Folkz','Private','Ltd']
print(lst[-1])

Ltd

3. Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself.

In [8]:
lst = ['Data','Folkz','Private','Ltd','AI','ML'
      ]
print(lst[2:5])

['Private', 'Ltd', 'AI']

4. Remove the last element from the city list

In [15]:
city.pop() ## last item pop out

'Mumbai'

In [16]:
print(city)

['Kerala']

5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelo
n’,’banana’]
i ) Add "orange" at the end of the above list.
ii) Add "lemon" as the second item in the fruits list

In [17]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
fruits.append('orange')
print(fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

In [25]:
fruits.insert(1,'lemon')
print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

6. Remove ‘cherry’ from the fruit list given above.

In [27]:
fruits.remove('cherry')
print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

7. Write the python program to let the user input a list of
numbers and print the list in descending order.

In [14]:
lst=[]
n = int(input("Enter the elements"))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)

Enter the elements6
1
2
3
4
12
1

In [18]:
lst.sort()

In [19]:
lst.reverse()

In [20]:
lst

[12, 4, 3, 2, 1, 1]

8. Write the python program to let the user input two lists and
combine both the lists.

In [2]:
lst1 = []
lst2 = []
n = int(input("Enter the no. of elements in list 1 "))
for i in range(0,n):
    ele = input("Enter element ")
    lst1.append(ele)
print(lst1)
n1 = int(input("Enter the no. of elements in list 2 "))
for i in range(0,n1):
    ele = input("Enter element ")
    lst2.append(ele)
print(lst2)
print("Joining lists")
print(lst1+lst2)

Enter the no. of elements in list 1 3
Enter element Data
Enter element Folz
Enter element Ltd
['Data', 'Folz', 'Ltd']
Enter the no. of elements in list 2 2
Enter element Anshu
Enter element Garg
['Anshu', 'Garg']
Joining lists
['Data', 'Folz', 'Ltd', 'Anshu', 'Garg']

9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [7]:
import random

In [8]:
List = [10,45,78,11,9,23]
random.shuffle(List)
print(List)

[9, 10, 45, 11, 23, 78]

10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

i) What is the expression that returns the 'z' in 'baz'?

ii) What expression returns the list ['baz', 2.718]?

In [10]:
x = [10,[3.141,20,[30,'baz',2.718]],'foo']
x[1][2][1][-1]

'z'

In [15]:
x[1][2][1:3]

['baz', 2.718]

11. Extract element 20 from the above list.

In [16]:
x[1][1]

20

12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
a = [1,2,7,8]
a[0:5]=[1,2,3,4,5,6,7,8]

In [19]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]