In [ ]:
1. Write a Python program to add an item in a tuple.

In [1]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)

(4, 6, 2, 8, 3, 1)

In [2]:
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)

(4, 6, 2, 8, 3, 1, 9)

In [3]:
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)

(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)

In [4]:
#converting the tuple to list
listx = list(tuplex)

In [6]:
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30, 30)

In [ ]:
2. Write a Python program to reverse a tuple.

In [14]:
x = ("DataFolkz")
y= reversed(x)
print(tuple(y))
print(type(y))
print(type(x))

('z', 'k', 'l', 'o', 'F', 'a', 't', 'a', 'D')
<class 'reversed'>
<class 'str'>

3. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [18]:
tuple1 = (11,22)
tuple2 = (99,88)
tuple3 = ()
tuple3 = tuple1
tuple1 = tuple2
tuple2 = tuple3
tuple3 =()
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

4. Modify the first item (22) of a list inside a following tuple to
222
 tuple1 = (11, [22, 33], 44, 55)

In [21]:
tuple1 = (11,[22,33],44,55)
list1 = list(tuple1)
list1[1][0] = 222
tuple1 = tuple(list1)
print(tuple1)

(11, [222, 33], 44, 55)

In [ ]:
5. Write a Python program to unpack a tuple in several
variables

In [23]:
#create a tuple
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3= tuplex

(4, 8, 3)
15

6. Write a Python program to add member(s) in an empty
set.

In [24]:
## Empty Set
color_set = set()
color_set.add("Red")
print(color_set)
## Add multiple items
color_set.update(["Blue","Green"])
print(color_set)

{'Red'}
{'Red', 'Green', 'Blue'}

7. Write a Python program to create an intersection of sets

In [26]:
setx = set(["Blue","Green"])
sety = set(["Blue","Yellow"])
setz = setx & sety
print(setz)

{'Blue'}

8. Write a Python program to create a symmetric difference
in sets.

In [27]:
## Symmetric Difference
A = {'a','b','c','d'}
B = {'c','d','e'}
C = {}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'b', 'a', 'e'}
{'a', 'b', 'e'}
{'b', 'd', 'c', 'a'}
{'d', 'c', 'e'}

In [28]:
## symmetric using ^ operator
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

print(A ^ B)
print(B ^ A)

print(A ^ A)
print(B ^ B)

{'b', 'a', 'e'}
{'a', 'b', 'e'}
set()
set()

9. Return a set of identical items from a given two Python
set
set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]

In [30]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}

10. Remove 10, 20, 30 elements from a following set at
once
set1 = {10, 20, 30, 40, 50}

In [32]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

11. Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [33]:
tupleex = ("Pooja",[10,20,30],(25,50,15))
print(tupleex[1][1])

20

12. Count the number of occurrences of item 50 from a tuple
numbers = (50, 10, 60, 70, 50)

In [34]:
tuplen = (50,10,60,70,50)
tuplen.count(50)

2